@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #041562;
}


.titulo {
 color: white;
 font-size: 32px;
 width: 160px;
 height: 50px;
}

.subtitulo {
    color: white;
    font-family: 'Poppins', sans-serif;

}

#seleccionar_mascota {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #11468f ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input{
    display: none;
}

#boton_mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 30px 30px;
}

#seleccionar_ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

#mensajes {
    width: 280px;
    background-color: #eeeeee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

#boton_reiniciar {
    border: 2px solid #11468f;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color: #11468f;
}